@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');

html{
    --color1: #FFC759;
    --color2: #272D2D;
    --font: 'Antonio', sans-serif;
    box-sizing: border-box;
    background-image: url(images/wave.svg);
    background-size: 200%;
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

/*Header*/

header{
    background: var(--color2);
    opacity: 1;
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 100%;
}

.icone{
    margin-left: 40px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
}
.bloc1{
    display: flex;
}

.bloc2{
    margin-right: 40px;
    font-size: 1.2em;
}

q{
    font-weight: bold;
    color: var(--color1);
}

p{
    color: var(--color1);
}

h3{
    color: var(--color1);
    margin-left: 20px;
}

/*section*/

/*Accueil*/

.envoi{
    width: 20%;
    margin-left: 40%;
    background: rgba( 39, 45, 45, 0.40 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    opacity: 1;
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.bloc3{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

input{
    border:none;
    font-size: 1.2em;
    background-color: transparent;
    border-bottom: solid var(--color2) 1px;
    margin-bottom: 30px;
}

input:focus{
    outline-style: none;
}

label{
    margin-bottom: 5px;
}

input [type=date],
select{
    border:none;
    font-size: 1.2em;
}

.champs{
    margin-bottom: 10px;
    color: var(--color2);
}

.boutonsaccueil{
    display: flex;
    justify-content: center;
}

.submit{
    background: rgba( 255, 255, 255, 0.05 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 50px;
    border: none;
    padding: 20px;
    font-family: var(--font);
    font-size: 1.2em;
    letter-spacing: 1.5px;
    margin-right: 20px;
    align-items: center;
}

.submit:hover{
    background: var(--color1);
    box-shadow: 0 8px 25px 0 var(--color1);
    cursor: pointer;
}

h1{
    font-size: 1.3em;
    text-align: center;
}

/*historique*/

.historique{
    width: 20%;
    margin-left: 40%;
    background: rgba( 39, 45, 45, 0.40 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    opacity: 1;
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    display: flex;
    justify-content: center;
    margin-top: 80px;
    padding-bottom: 10px;
}

.modif{
    width: 20%;
    margin-left: 40%;
    background: rgba( 39, 45, 45, 0.40 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    opacity: 1;
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    display: flex;
    justify-content: center;
    margin-top: 35px;
    padding-bottom: 10px;
}

.containerhisto{
    display: flex;
}

.formulairehisto{
    margin-top: 20px;
}

.formulairemodif{
    margin: 20px;
}

.gohisto{
    background: rgba( 39, 45, 45, 0.40 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 50px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 20px;
}

.gohisto:hover{
    background: var(--color2);
    box-shadow: 0 8px 25px 0 var(--color1);
    
}

.gohisto a:hover{
    color: var(--color1);
}

.backaccueil{
    background: rgba( 39, 45, 45, 0.40 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 50px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 20px;

}

.backaccueil:hover{
    background: var(--color2);
    box-shadow: 0 8px 25px 0 var(--color1);
    
}

.backaccueil a:hover{
    color: var(--color1);
}

a{
    text-decoration: none;
    color: var(--color2);
    font-family: var(--font);
    font-size: 1.2em;
}


/*inscription*/

.inscription{
    width: 20%;
    margin-left: 40%;
    background: rgba( 39, 45, 45, 0.40 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    opacity: 1;
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    display: flex;
    justify-content: center;
    margin-top: 80px;
    padding-bottom: 10px;
}

.containersignup{
    display: flex;
    flex-direction: column;
}

.formulairesignup{
    margin-top: 20px;
}

.formulairesignup{
    margin: 20px;
}

/*tableau historique*/

table{
    text-align: center;
    color: var(--color2);
}

table a:hover{
    color: whitesmoke;
}

hr{
    color: var(--color2);
}
/*aside*/

.gobtn{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/*footer*/

footer{

    background: var(--color2);
    opacity: 1;
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: absolute;
    bottom:0;
    width:100%;
    height:100px;
    text-align: center;
}


/*responsive*/

@media screen and (max-width: 1319px ){

    html{
        background-image: none;
        background-color: whitesmoke;
    }

    .envoi{
        width: 100%;
        margin-left: 0;
    }

    .historique{
        width: 100%;
        margin-left: 0;
    }

    .modif{
        width: 100%;
        margin-left: 0;
    }

    .inscription{
        width: 100%;
        margin-left: 0;
    }

    .citation{
        display: none;
    }
}

